<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Products</title>
</head>
<body>
<h1>Add product</h1>
<form method="post" action="/products">
    <label>Title:
        <input name="title" placeholder="title">
    </label>
    <label>Description:
        <input name="description" placeholder="Description">
    </label>
    <label>Price:
        <input type="number" name="price" placeholder="price">
    </label>
    <label>Amount:
        <input type="number" name="amount" placeholder="amount">
    </label>
    <input type="submit" value="add">
</form>
<form action="/productsForSail">
    <button>products For Sail</button>
</form>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Delete</th>
        </tr>
        <#list products as product>
            <tr>
                <td>${product.id}</td>
                <td>${product.title}</td>
                <td>${product.description}</td>
                <td>${product.price}</td>
                <td>${product.amount}</td>
                <td>
                    <form method="post" action="/products/${product.id}/delete">
                        <input type="submit" value="delete">
                        <a href="/products/${product.id}">Link</a>
                    </form>
                </td>
            </tr>
        </#list>
    </table>
</body>
</html>